<h1>Heading</h1>
{{ section.settings['liquid-ref'] }}

<br>

<h1>Checkbox</h1>

{% if section.settings.checkbox == true %}
  checkbox checked
{% else %}
  checkbox not checked
{% endif %}

<br>

<h1>Number</h1>

{% if section.settings.number != 0 %}
  {{ section.settings.number }}
{% endif %}

<br>

<h1>Radio</h1>

{% if section.settings.radio == "option-1" %}
  Option 1 is selected
{% else %}
  Option 2 is selected
{% endif %}

<br>

<h1>Range</h1>
{{ section.settings.range }}

<br>

<h1>Select</h1>
{{ section.settings.select }}

{% schema %}
  {
    "name": "Liquid Reference",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "A Reference for Shopify Liquid"
      },
      {
        "id": "checkbox",
        "type": "checkbox",
        "label": "A checkbox"
      },
      {
        "id": "number",
        "type": "number",
        "label": "enter you number"
      },
      {
        "id": "radio",
        "type": "radio",
        "label": "Radio Number",
        "options": [
          {
            "value": "option-1",
            "label": "Option 1"
          },
          {
            "value": "option-2",
            "label": "Option 2"
          }
        ]
      },
      {
        "id": "range",
        "type": "range",
        "label": "Range",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      },
      {
        "id": "select",
        "type": "select",
        "label": "Select",
        "options": [
          {
            "value": "Option 1",
            "label": "Option 1"
          },
          {
            "value": "Option 2",
            "label": "Option 2"
          },
          {
            "value": "Option 3",
            "label": "Option 3"
          }
        ],
        "default": "Option 2"
      }
    ],
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "index"
      }
    ]
  }
{% endschema %}