<h1>Heaading</h1>
<h2>{{ section.settings['liquid-ref'] }}</h2>

<h1>Checkbox</h1>

{% if section.settings.checkbox == true %}
  <h2>checkbox checked</h2>
{% else %}
  <h2>checkbox not checked</h2>
{% endif %}

<h1>Number</h1>

{% if section.settings.number != 0 %}
  {{ section.settings.number }}
{% endif %}

<h1>Radio</h1>

{% if section.settings.radio == "option-1" %}
  Option 1 is selected
{% else %}
  Option 2 is selected
{% endif %}
{% schema %}
  {
    "name": "Liquid Reference",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "A Reference for Shopify Liquid"
      },
      {
        "id": "checkbox",
        "type": "checkbox",
        "label": "A checkbox"
      },
      {
        "id": "number",
        "type": "number",
        "label": "enter you number"
      },
      {
        "id": "radio",
        "type": "radio",
        "label": "Radio Number",
        "options": [
          {
            "value": "option-1",
            "label": "Option 1"
          },
          {
            "value": "option-2",
            "label": "Option 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "index"
      }
    ]
  }
{% endschema %}